/* Base */
* {
  box-sizing: border-box;
}

body {
  background: #fedb00;
  color: rgb(0, 0, 0);
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

/* Page */
.page{
  height: 100vh;
  padding: calc(15% + 1.5em) 5% 5%;
  overflow-y: auto;
  top: 0;
  width: 100%;
  -webkit-overflow-scrolling: touch;

  transition: transform 1s ease-in-out, box-shadow 1s ease-in-out;
  position: relative;
  background-size: 100% 100%;
}

.page1{
  height: 100vh;
  padding: calc(15% + 1.5em) 5% 5%;
  overflow-y: auto;
  /* position: fixed; */
  top: 0;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  transition: transform 1s ease-in-out, box-shadow 1s ease-in-out;
  background: url(assets/images/Bienvenida.gif);
  /* height: 100vh; */
  position: relative;
  background-size: 100% 100%;
}

.page2{
  height: 100vh;
  padding: calc(15% + 1.5em) 5% 5%;
  overflow-y: auto;
  /* position: fixed; */
  top: 0;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  transition: transform 1s ease-in-out, box-shadow 1s ease-in-out;
  background: url(assets/images/Completo.gif);
  /* height: 100vh; */
  position: relative;
  background-size: 100% 100%;
}
.page3{
  height: 100vh;
  padding: calc(15% + 1.5em) 5% 5%;
  overflow-y: auto;
  /* position: fixed; */
  top: 0;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  transition: transform 1s ease-in-out, box-shadow 1s ease-in-out;
  background: url(assets/images/Eleccion.gif);
  /* height: 100vh; */
  position: relative;
  background-size: 100% 100%;
}
video{
  min-width:100%;
  min-height: 100%;
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
}

.page-enter {
  transform: translate(0, -100%);
}

.page-enter-active {
  transform: translate(0, 0);
}

.page-exit {
  box-shadow: 0 0 5em 0 rgba(0, 0, 0, 0.5) inset;
  transform: translate(0, -100%);
}

.page--prev.page-enter {
  transform: translate(0, 100%);
}

.page--prev.page-enter-active {
  transform: translate(0, 0);
}

.page--prev.page-exit {
  transform: translate(0, 100%);
}

.page-exit .page__inner {
  opacity: 0;
  transform: scale(0.9);
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.page h1 {
  margin-top: 0;
}


img.center{
  position: fixed;
  top: 50%;
  left: 46%;
}

img.top{
  position: fixed;
  top: 5%;
  left: 46%;
}

/*Arrow*/
.arrow-down{
  cursor: pointer;
  width: 80px;
  height: 80px;
  border:solid white;
  border-width: 0 .2em .2em 0;
  display:      inline-block;
  padding:      .20em;
  transform:rotate(45deg);
  background: transparent;
  position: fixed;
  text-align: right;
  bottom: 5%;
  z-index: 1;
  left: 46%;
}
.arrow-up{
  cursor: pointer;
  width: 80px;
  height: 80px;
  border:solid white;
  border-width: 0 .2em .2em 0;
  display:      inline-block;
  padding:      .20em;
  transform:rotate(225deg);
  background: transparent;
  position: fixed;
  text-align: right;
  bottom: 5%;
  z-index: 1;
  right: 5%;
}
.flecha{
  cursor: pointer;
  width: 80px;
  height: 80px;
  /* border:solid white; */
  border-width: 0 .2em .2em 0;
  display:      inline-block;
  padding:      .20em;
  /* transform:rotate(45deg); */
  background: transparent;
  position: fixed;
  text-align: right;
  bottom: 11%;
  z-index: 1;
  left: 46%;
}
.subtitle{
  cursor: pointer;
  display:      inline-block;
  padding:      .20em;
  position: fixed;
  text-align: right;
  bottom: 8%;
  z-index: 1;
  left: 38%;
  font-size: 25px;
}
.cuadro{
  text-align: center;
  cursor: pointer;
  margin: 10px;
  padding: 85px;
  background: transparent;
  border: 1px solid rgb(79, 76, 78);
  width: 600px;
  height: 80px;
  font-size: 21px;
  padding-top: 9px;

}
.cuadro:hover{
  /* border: 3px dashed deepskyblue; */
}
.choose{
  background: url(assets/images/Btn-Splash.gif);
  color: white;
  background-size: 111% 125%;
  background-position: center;
  border: none;

}

.btnStart{
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 118%;
}
button.start{
    cursor: pointer;
    background: deepskyblue;
    color: white;
    width: 251px;
    height: 80px;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.scrollQuestions{
  height: 379px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 49%;
  position: relative;

}
.scrollQuestions::-webkit-scrollbar {
  border: 1px solid;
  border-radius: 10px;
  width: 20px;

}
.scrollQuestions::-webkit-scrollbar-thumb{
  background-color: rgb(73, 185, 126);
  border-radius: 40px;
}
#botonGaleria{
  margin-top:35px;
  display: none;
}

video::-webkit-media-controls-overlay-play-button {
  display: none;
}
video::-webkit-media-controls{
  display:none !important;
  -webkit-appearance: none;
}

video::-webkit-media-controls-enclosure {
  display:none !important;
}


video::-webkit-media-controls-start-playback-button {
  display: none !important;
}